.file-upload-box {
    margin-top: 65px; /* Spacing from the chat box */
    width: 103%;
    height: 50.8%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;

    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    border: 2px dashed #ccc; /* Change to dashed border */
    position: relative; /* Needed for positioning the input */

    border-color: #003366; /* Primary color */
    background-color: #C0C0C0; /* Secondary color */
    border-radius: 10px; /* Rounded edges */
  }
  
  .file-upload-box.dragging {
    border-color: #FFA500; /* Accent color when dragging */
    border-color: blue; /* Change color when dragging */
    background-color: #f0f8ff; /* Light background color when dragging */
  }
  
  .file-upload-box input[type="file"] {
    /* width: 100%;
    height: 100%; */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  