.image-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three columns */
    grid-template-rows: repeat(2, 1fr);
    height: 91%; /* Full height of the container */
    position: absolute;
    top: 20px;
    margin-left: 10px;
    flex-wrap: wrap;
    width: 59.5%;
    padding: 10px;
    gap: 10px; /* Spacing between images */
    border: 1px solid dimgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #16163b; /* Complementary color */
    border-radius: 10px; /* Rounded edges */


    /* --------------------------- */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; Center the button and header */
    /* justify-content: center; Center the content vertically */
    /* height: 100%; Adjust as needed */
    /* width: 100%; */
    /* padding: 20px;  */
  }

  .generate-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF; /* Text color */
    background-color: #007bff; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .image-box-header {
    text-align: center;
    color: white; /* Adjust the color as per your design */
    margin-bottom: 15px; /* Spacing below the header */
    }
  
  .image-box img {
    /*flex: 1 1 auto; /* Flexible grow and shrink */
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    /* border: 2px solid #FFA500; */
    object-fit: cover;
    border-radius: 10px; /* Slightly rounded edges for images */
  }

  .selected {
    border: 2px solid #FFA500;
  }
  
  .image-box-after {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Create three columns */
    grid-template-rows: repeat(2, 1fr);
    height: 91%; /* Full height of the container */
    position: absolute;
    top: 20px;
    margin-left: 10px;
    flex-wrap: wrap;
    width: 21%;
    padding: 10px;
    gap: 10px; /* Spacing between images */
    border: 1px solid dimgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #16163b; /* Complementary color */
    border-radius: 10px; /* Rounded edges */


    /* --------------------------- */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; Center the button and header */
    /* justify-content: center; Center the content vertically */
    /* height: 100%; Adjust as needed */
    /* width: 100%; */
    /* padding: 20px;  */
  }

  .image-box-after img {
    /*flex: 1 1 auto; /* Flexible grow and shrink */
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    /* border: 2px solid #FFA500; */
    object-fit: cover;
    border-radius: 10px; /* Slightly rounded edges for images */
  }